<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Burgers to eat</h1>
            <ul>
                {{!-- When the root path is entered into the browser,
                my route funciton grabs data (object with burger as key 
                and devoured/burger_name as values) from mySQL and then
                serves an html page where handlebars inserts mySQL data--}}
                {{#each burger}}
                    {{#unless devoured}}
                <li>Burger Name: {{burger_name}}</li>
                <button class="devour" data-id="{{id}}">Devour</button>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h1>Burgers eaten:</h1>
            <ul>
                {{#each burger}}
                    {{#if devoured}}
                <li>The {{burger_name}} has been eaten.</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>






<form action="/api/burgers" method="post">

    <div class="form-group">
        <label>Burger Name:</label>
        <input type="text" name="burger_name">

    </div>
    <button type="submit">Add Burger</button>
</form>